page-login {
	.input{
		color:white;
	}
	.body{
		background-color: #353945;
	}
	ion-icon{
		color:white;
	}
	.LoginLogo{
		margin-top:5%;
		width: 40%;
		height: 20%;
		margin-left:30%;
	}
	h1{
		text-align:center;
		color:white;
	}
	.description{
		text-align:center;
		color:white;
	}
	.emailInput{
		background-color: #353945;
		margin-top:50px;
		width:93%;
		margin-left:12px;
		border-radius:7px;
	}
	.passInput{
		background-color: #353945;
		width:93%;
		margin-left:12px;
		border-radius:5px;
		margin-bottom:20px;
	}
	.loginButton{
		width:70%;
		font-size:16px;
		margin-left:17%;
	}
	.signUpButton{
		width:70%;
		font-size:16px;
		margin-left:17%;
		
	}
	.ForgetPassword{
		text-align:center;
		color:white;
	}
	.Privacy{
		text-align:center;
		color:white;
	}
}
