page-fitness-plan2 {
	ion-icon{
		margin-left:5%;
        zoom:2.0;
        color:white;
	}
	.toolbar-background {
		background-image: url("../img/Plan1.jpg");
	}
	.container{
		background-image: url("../img/Plan1.jpg");
	}  
	
	.container1{ 
		background-image: url("../img/Plan1.jpg");
		width:100%;
		height:auto;
		background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}

	.container1 .title{
		font-size:30px;
        font-weight:bold;
        margin-top:40px;
        text-align:center;
        color:white;
	}	
	 .container1 .planDetail .detailBox{
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
        text-align:center;
        padding:20px;
        font-weight: bold;
        font-size:20px;
	}
	
	.container1 .planDetail .submitButton1{
		border-radius:100%;
        width:auto;
        height:80px;
        margin-left:30%;
        margin-bottom:40px;
        background-color: #ababac;
        color:#000000;
	}
	
	
}
