page-collection2 {
    .container1{
        float: right;
    }

    .container2{
        float: left;
    }

    .toolbar-background {
        background-color: #353945;
    }

    h1{
        font-size: 15px;
        color: white;
    }

    .cal{
        float: right;
    }

    .container{
        background-color: #353945; 
        width:100%;
        height:100%;
        color:white;
    }

    .container .back{
        color:white;
        //background-image: url("../img/plan1.jpg");
        background-color: #353945;
        font-size: 13px;
    }

    ion-icon{
        margin-left:5%;
        zoom:2.0;
        color:white;
    }
    
    .container1 .submitButton1{
        color:rgb(255, 255, 255);
        margin:20px;
        
    }
    .container2 .submitButton1{
        color:rgb(255, 255, 255);
        margin:20px;
        
    }

    .container .a{
        margin-left: 60%;
    }


    .workoutList .workoutFrame{
        height:100%;
        margin-top:10px;
        margin-left:10%;
        width:80%;
        height:60px;
        border-style:solid;
        border-radius:20px;
        border-color:white;
        border-width:3px;
        background-color:#353945 ;
        color:white;
        font-size:16px;
        text-align:center;
    }

    .workoutList .workoutFrame:visited{
        height:100%;
        margin-top:10px;
        margin-left:10%;
        width:80%;
        height:60px;
        border-style:solid;
        border-radius:20px;
        border-color:white;
        border-width:3px;
        background-color:#353945 ;
        color:pink;
        font-size:16px;
        text-align:center;
    }

    .workoutList .workoutFrames{
        height:100%;
        margin-top:10px;
        margin-left:10%;
        width:80%;
        height:60px;
        border-style:solid;
        border-radius:20px;
        border-color:white;
        border-width:3px;
        background-color:#353945 ;
        color:gray;
        font-size:16px;
        text-align:center;
    }

    h5{
        margin-left:40px;
        color:white;
    }

    .workoutList .workoutTitle{
        height:100%;
        padding-top:20px;
        margin-top:30px;
        width:100%;
        height:60px;
        
        background-color:#edd06a ;
        color:black;
        font-size:16px;
        text-align:center;

    }

    .workoutList .workoutAmount{
        padding-top:10px;
        font-size:16px;
        margin-left:40px;
        color: #edd06a;

    }

    .restday .workoutList .workoutFrame{
        height:100%;
        margin-top:10px;
        margin-left:10%;
        width:80%;
        height:60px;
        border-style:solid;
        border-radius:20px;
        border-color:white;
        border-width:3px;
        background-color:#353945 ;
        color:white;
        font-size:16px;
        text-align:center;
    }

    .restday h5{
        margin-left:40px;
        color:white;
    }

    .restday {
        margin-top:40px;

    }

    .container .fix{
        position:sticky;
        margin-top: 0%;
        top:0;
        background-color: #353945;
    }

}
