<!--
  Generated template for the FitnessPlan3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar>
      <ion-icon large item-start name="ios-arrow-back" (click) = "back()"></ion-icon>
      <ion-title><h1>CollectionPlan</h1></ion-title>
    </ion-navbar>
</ion-header>
<ion-item [hidden]="true">
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY  h:mm a" [(ngModel)]="mydate"></ion-datetime>
</ion-item>
<ion-content class="container">
  <div *ngIf="buttonClicked1">
    <iframe class="fix"
            width="100%"
            height="250"
            [src]="trustedVideoUrl ? trustedVideoUrl : null"
            frameborder="0"
            allowfullscreen>
    </iframe>
    <h5>{{rest}}</h5>
    <ion-list *ngFor = "let title of data" class="workoutList">
      <p *ngIf="title.title == 'set1'||title.title == 'set2'||title.title == 'set3'||title.title == 'set4'||
      title.title == 'set5'||title.title == 'set6';else not" class="workoutTitle">{{title.title}}</p>
      <ng-template #not>
          <button (click)="click(title.title)" class="workoutFrame">{{title.title}}</button>
      <p class="workoutAmount">Amount: {{title.amount}}</p>
      </ng-template>
    </ion-list>
    <div class="container2">
      <button ion-button type="submit" (click)="endplan()" class="submitButton1">Endplan</button>
    </div>
    <div class="container1">
      <button ion-button type="submit" (click)="submit()" class="submitButton1">Next</button>
    </div>
  </div>

  <div *ngIf="buttonClicked2" class="restday">
      <h5>{{rest}}</h5>
      
      <div class="container1">
        <button ion-button type="submit" (click)="submit()" class="submitButton1">Next</button>
      </div>
      <div class="container2">
          <button ion-button type="submit" (click)="previous()" class="submitButton1">previous</button>
      </div>
  </div>

  <div *ngIf="buttonClicked3">
      <iframe class="fix"
              width="100%"
              height="250"
              [src]="trustedVideoUrl ? trustedVideoUrl : null"
              frameborder="0"
              allowfullscreen>
      </iframe>
      <h5>{{rest}}</h5>
      <ion-list *ngFor = "let title of data" class="workoutList">
          <p *ngIf="title.title == 'set1'||title.title == 'set2'||title.title == 'set3'||title.title == 'set4'||
          title.title == 'set5'||title.title == 'set6';else not" class="workoutTitle">{{title.title}}</p>
          <ng-template #not>
          <button (click)="click(title.title)" class="workoutFrame">{{title.title}}</button>
          <p class="workoutAmount">Amount: {{title.amount}}</p>
          </ng-template>
      </ion-list>
      <div class="container1">
        <button ion-button type="submit" (click)="submit()" class="submitButton1">Next</button>
      </div>
      <div class="container2">
        <button ion-button type="submit" (click)="previous()" class="submitButton1">previous</button>
      </div>

  </div>
  <!--<ion-list *ngFor = "let title of dataFitnessPlanTitleVideo">
    <h1>{{title}}<br></h1>  
  </ion-list>-->
</ion-content>
