page-profile {
    .container{
        background-color: #353945;
		width:100%;
		height:100%;
		padding-top:10px;
		color:white;
    }

    .toolbar-background {
        background-color: #353945;
    }

    ion-icon{
		margin-left:5%;
        zoom:2.0;
        color: white;
    }

    h1{
        color: white;
    }

    h3{
        text-align: center;
    }

    .container .frame{
        border-width:5px;
        border-radius:10px;
        border-style:solid;
    }

    p{
        padding-left:20px;
        font-size:16px;
    }

    .container .editButton{
        margin-top:30px;
        margin-left:33%;
    }

    .container .logoutButton{
        margin-top:30px;
        margin-left:37%;
    }

    .container .progressButton{
        margin-top:30px;
        margin-left:35%;
    }
}
