page-food-plan {
    ion-icon{
		margin-left:5%;
        zoom:2.0;
        color:white;
    }
    
    .toolbar-background {
        background-color: #353945;
    }

    
    h1{
        color: white;
        background-color: #353945;
    }

    
    .planDetail{
        padding-left: 30px;
        background-color: #353945; 
        color:white;
    }
}

