page-food-plan {
    ion-icon{
		margin-left:5%;
        zoom:2.0;
        color:white;
        
    }
    
    h1{
        color: white;
    }
    
    .toolbar-background {
        background-color: #353945;
    }
    
    .planDetail{

        background-color: #353945; 
        color:white;
        
        
    }
    .planDetail .detailBox{
        border-style:solid;
        border-size:10px;
        padding-left:20px;
    }

    .planDetail .resultAllDayFrame h3{
        text-align:center;
        color:white;

    }

    .planDetail .resultAllDayFrame .resultAllDay .header{
        margin-left:10px;
        color:white;

    }
    .submitButton1{
        margin-left:25%;
    }

    .planDetail .resultAllDay {
        background-color:#edd06a;
        width:100%;
        border-style:solid;
        border-width:5px;
        border-color:white;
        border-radius:20px;
        
    }

    .planDetail .resultAllDayFrame .resultAllDay .weight{
        color:black;
        font-size:16px;
        display: inline-block;
        text-align:right;
        vertical-align: 10px;
}
    ion-icon .icon1 {
        text-align:right;
    }



}



