page-test {
    .center{
        text-align: center;
        font-size: 20px;
    }

    ion-icon{
		margin-left:5%;
        zoom:2.0;
        color:white;
    }
    .toolbar-background {
        background-color: #353945;
    }
    .a{
        background-color: #353945; 
        color:white;
    }
    .submitButton{
        width:auto;
        margin-left:40%;
        margin-bottom:40px;
    }
}
